<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0 text-center"></div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <h4 class="text-uppercase mb-4">അയ്യാർവട്ടം മഹാ സുദർശന ക്ഷേത്രം</h4>
                <p class="lead mb-0">
                    Cheruvalath Thazham Anghathay Rd, 
                    <br />
                    Eravannur - Palath Rd, Kerala, 673585
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Ayyarvattom 2022</small></div>
</div>
